
body {
  font-family: 'Ubuntu';
  height:1136px;
  width:640px;
  
}

#SauberLogo {
  width:20px;
  height: auto;
  left: 30px;
  top: 30px;
  position: absolute;
}

.frame {
  height:1136px;
  width:640px;
  background: url("Startpage.png");
}

.penbox {
  height:120px;
  width: 120px;
  background-color:#15B9D6;
  left: 502px;
  top: 20px;
  position: absolute;
  border-radius: 20px;

}

#pen {
  text-align:center;
  padding-top: 20px;


}

.sidebar {
  height:670px;
  width: 120px;
  position: absolute;
  left: 502px;
  top: 164px;
  background-color:#15B9D6;
  border-radius: 20px;

}

#trash {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;
}

#cook {
  text-align:center;
  padding-top: 20px;
}

#shower {
  text-align:center;
  padding-top: 20px;
}

#dishes {
  text-align:center;
  padding-top: 20px;
}

#toilet {
  text-align:center;
  padding-top: 10px;
}

#laundry {
  text-align:center;
  padding-top: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.bottombar {
  height:100px;
  width: 16%;
  position: absolute;
  left: -455px;
  top: -265px;
  background-color:#202226;
}

#trophy {
  text-align:center;
  padding-top: 210px;
}

#menu {
  text-align:center;
  padding-top: 1145px;
}